# Build output
dist/

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (optional)
.env
.env.*

# Editor folders
.vscode/
.idea/

# MacOS
.DS_Store

# Prettier / ESLint
.prettiercache
.eslintcache

# Optional Husky artifacts
.husky/_

# Optional test coverage
coverage/

# Optional debug output
*.log

**/*.js.map
